<div class="container border-t border-black-10">
  <div class="flex items-center gap-3  py-6">
    <div class="flex items-center gap-1 text-black-60">
      <a href="/" class="text-black-60 text-base leading-normal font-normal font-satoshi">Home</a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none">
        <path
          d="M6.53073 2.46937L11.5307 7.46937C11.6007 7.53905 11.6561 7.62184 11.694 7.71301C11.7318 7.80417 11.7513 7.90191 11.7513 8.00062C11.7513 8.09933 11.7318 8.19707 11.694 8.28824C11.6561 8.3794 11.6007 8.46219 11.5307 8.53187L6.53073 13.5319C6.38984 13.6728 6.19874 13.7519 5.99948 13.7519C5.80023 13.7519 5.60913 13.6728 5.46823 13.5319C5.32734 13.391 5.24818 13.1999 5.24818 13.0006C5.24818 12.8014 5.32734 12.6103 5.46823 12.4694L9.93761 8L5.46761 3.53062C5.32671 3.38973 5.24756 3.19863 5.24756 2.99937C5.24756 2.80011 5.32671 2.60902 5.46761 2.46812C5.60851 2.32723 5.7996 2.24807 5.99886 2.24807C6.19812 2.24807 6.38921 2.32723 6.53011 2.46812L6.53073 2.46937Z"
          fill="currentColor"
          fill-opacity="0.6" />
      </svg>
    </div>
    <div class="text-black text-base font-normal leading-normal">Cart</div>
  </div>
  <h1 class="text-[40px] font-bold font-integral leading-normal text-black mb-6">Your Cart</h1>
  <div class="flex gap-5">
    <div class="w-full max-w-[715px]">
      <div class="py-5 px-6 rounded-[20px] border border-black-10">
        {% for product in cart.items %}
          <div class="border-b border-black-10 flex pb-6 mb-6 last:border-b-0 last:pb-0 last:mb-0">
            {% if product.image %}
              <div class="w-[124px] h-[124px] rounded-lg">
                <img
                  src="{{ product.image |  image_url  }}"
                  class="rounded-lg w-full h-full object-cover"
                  alt="{{ product.title }}"
                  draggable="false">
              </div>
            {% endif %}
            <div class="w-full flex justify-between pl-4">
              <div class="w-full h-full flex flex-col justify-between">
                <div class="text-xl font-satoshi text-black font-bold leading-normal mb-4">{{ product.title }}</div>
                <div class="text-2xl font-satoshi font-bold leading-normal text-black">{{ product.original_price | money }}</div>
              </div>
              <div class="min-w-max h-full flex flex-col justify-between pl-4">
                <div class="text-right">
                  <button class="cursor-pointer">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="18"
                      height="20"
                      viewBox="0 0 18 20"
                      fill="none">
                      <path d="M17.25 3.5H13.5V2.75C13.5 2.15326 13.2629 1.58097 12.841 1.15901C12.419 0.737053 11.8467 0.5 11.25 0.5H6.75C6.15326 0.5 5.58097 0.737053 5.15901 1.15901C4.73705 1.58097 4.5 2.15326 4.5 2.75V3.5H0.75C0.551088 3.5 0.360322 3.57902 0.21967 3.71967C0.0790178 3.86032 0 4.05109 0 4.25C0 4.44891 0.0790178 4.63968 0.21967 4.78033C0.360322 4.92098 0.551088 5 0.75 5H1.5V18.5C1.5 18.8978 1.65804 19.2794 1.93934 19.5607C2.22064 19.842 2.60218 20 3 20H15C15.3978 20 15.7794 19.842 16.0607 19.5607C16.342 19.2794 16.5 18.8978 16.5 18.5V5H17.25C17.4489 5 17.6397 4.92098 17.7803 4.78033C17.921 4.63968 18 4.44891 18 4.25C18 4.05109 17.921 3.86032 17.7803 3.71967C17.6397 3.57902 17.4489 3.5 17.25 3.5ZM7.5 14.75C7.5 14.9489 7.42098 15.1397 7.28033 15.2803C7.13968 15.421 6.94891 15.5 6.75 15.5C6.55109 15.5 6.36032 15.421 6.21967 15.2803C6.07902 15.1397 6 14.9489 6 14.75V8.75C6 8.55109 6.07902 8.36032 6.21967 8.21967C6.36032 8.07902 6.55109 8 6.75 8C6.94891 8 7.13968 8.07902 7.28033 8.21967C7.42098 8.36032 7.5 8.55109 7.5 8.75V14.75ZM12 14.75C12 14.9489 11.921 15.1397 11.7803 15.2803C11.6397 15.421 11.4489 15.5 11.25 15.5C11.0511 15.5 10.8603 15.421 10.7197 15.2803C10.579 15.1397 10.5 14.9489 10.5 14.75V8.75C10.5 8.55109 10.579 8.36032 10.7197 8.21967C10.8603 8.07902 11.0511 8 11.25 8C11.4489 8 11.6397 8.07902 11.7803 8.21967C11.921 8.36032 12 8.55109 12 8.75V14.75ZM12 3.5H6V2.75C6 2.55109 6.07902 2.36032 6.21967 2.21967C6.36032 2.07902 6.55109 2 6.75 2H11.25C11.4489 2 11.6397 2.07902 11.7803 2.21967C11.921 2.36032 12 2.55109 12 2.75V3.5Z" fill="#FF3333" />
                    </svg>
                  </button>
                </div>
                <div class="flex rounded-full px-5 py-3 gap-5 items-center bg-gray-100">
                  <button class="cursor-pointer">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none">
                      <path d="M17.8125 10C17.8125 10.2486 17.7137 10.4871 17.5379 10.6629C17.3621 10.8387 17.1236 10.9375 16.875 10.9375H3.125C2.87636 10.9375 2.6379 10.8387 2.46209 10.6629C2.28627 10.4871 2.1875 10.2486 2.1875 10C2.1875 9.75136 2.28627 9.5129 2.46209 9.33709C2.6379 9.16127 2.87636 9.0625 3.125 9.0625H16.875C17.1236 9.0625 17.3621 9.16127 17.5379 9.33709C17.7137 9.5129 17.8125 9.75136 17.8125 10Z" fill="black" />
                    </svg>
                  </button>
                  <span class="text-sm font-medium font-satoshi text-black leading-normal">{{ product.quantity }}</span>
                  <button class="cursor-pointer">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none">
                      <path d="M17.8125 10.0001C17.8125 10.2487 17.7137 10.4872 17.5379 10.663C17.3621 10.8388 17.1236 10.9376 16.875 10.9376H10.9375V16.8751C10.9375 17.1237 10.8387 17.3622 10.6629 17.538C10.4871 17.7138 10.2486 17.8126 10 17.8126C9.75136 17.8126 9.5129 17.7138 9.33709 17.538C9.16127 17.3622 9.0625 17.1237 9.0625 16.8751V10.9376H3.125C2.87636 10.9376 2.6379 10.8388 2.46209 10.663C2.28627 10.4872 2.1875 10.2487 2.1875 10.0001C2.1875 9.75142 2.28627 9.51296 2.46209 9.33715C2.6379 9.16133 2.87636 9.06256 3.125 9.06256H9.0625V3.12506C9.0625 2.87642 9.16127 2.63796 9.33709 2.46215C9.5129 2.28633 9.75136 2.18756 10 2.18756C10.2486 2.18756 10.4871 2.28633 10.6629 2.46215C10.8387 2.63796 10.9375 2.87642 10.9375 3.12506V9.06256H16.875C17.1236 9.06256 17.3621 9.16133 17.5379 9.33715C17.7137 9.51296 17.8125 9.75142 17.8125 10.0001Z" fill="black" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex-1">
      <div class="px-6 py-5 rounded-[20px] border border-black-10">
        <h2 class="text-2xl font-bold font-satoshi leading-normal text-black mb-6">Order Summary</h2>
        <div class="space-y-5 border-b border-black-10">
          <div class="flex justify-between items-center text-xl font-satoshi font-normal text-black-60">Subtotal
            <span class="text-black font-bold">{{ cart.items_subtotal_price | money }}</span>
          </div>
          <div class="flex justify-between items-center text-xl font-satoshi font-normal text-black-60">Discount ({{ cart.discount | round }}%)
            <span class="text-black font-bold">{{ cart.total_discount | money }}</span>
          </div>
          <div class="flex justify-between items-center text-xl font-satoshi font-normal text-black-60 pb-5">Subtotal
            <span class="text-black font-bold">{{ cart.original_total_price | money }}</span>
          </div>
        </div>
        <div class="space-y-6">
          <div class="flex justify-between items-center mt-5 text-xl font-satoshi font-normal text-black">Total
            <span class="text-black font-bold">{{ cart.total_price | money }}</span>
          </div>
          <form class="flex items-center gap-3">
            <div class="relative flex-grow">
              <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M23.0766 12.4857L13.7653 3.17444C13.5917 2.9997 13.3851 2.86115 13.1576 2.76685C12.93 2.67254 12.686 2.62435 12.4397 2.62507H3.75001C3.45164 2.62507 3.16549 2.7436 2.95451 2.95457C2.74353 3.16555 2.62501 3.4517 2.62501 3.75007V12.4398C2.62429 12.6861 2.67248 12.9301 2.76679 13.1576C2.86109 13.3852 2.99963 13.5918 3.17438 13.7654L12.4856 23.0766C12.8372 23.4281 13.3141 23.6256 13.8113 23.6256C14.3084 23.6256 14.7853 23.4281 15.1369 23.0766L23.0766 15.1369C23.4281 14.7853 23.6255 14.3085 23.6255 13.8113C23.6255 13.3141 23.4281 12.8373 23.0766 12.4857ZM13.8113 21.2204L4.87501 12.2813V4.87507H12.2813L21.2175 13.8113L13.8113 21.2204ZM9.37501 7.87507C9.37501 8.17174 9.28703 8.46175 9.12221 8.70842C8.95739 8.9551 8.72312 9.14736 8.44903 9.26089C8.17494 9.37442 7.87334 9.40412 7.58237 9.34625C7.2914 9.28837 7.02413 9.14551 6.81435 8.93573C6.60457 8.72595 6.46171 8.45868 6.40383 8.1677C6.34595 7.87673 6.37566 7.57513 6.48919 7.30104C6.60272 7.02695 6.79498 6.79269 7.04165 6.62786C7.28833 6.46304 7.57834 6.37507 7.87501 6.37507C8.27283 6.37507 8.65436 6.5331 8.93567 6.81441C9.21697 7.09571 9.37501 7.47724 9.37501 7.87507Z"
                    fill="black"
                    fill-opacity="0.4" />
                </svg>
              </div>
              <input
                type="text"
                placeholder="Add promo code"
                class="w-full bg-[#F0F0F0] py-3 px-4 pl-[52px] rounded-full focus:outline-none text-black-60 placeholder:text-black-60 text-base font-normal font-satoshi leading-normal">
            </div>
            <button type="submit" class="bg-black text-white py-3 px-4 w-[119px] rounded-[62px] text-base font-medium font-satoshi leading-normal cursor-pointer">Apply</button>
          </form>
          <button class="bg-black w-full py-4 px-[54px] flex items-center justify-center gap-3 text-white rounded-[62px] text-base font-medium font-satoshi leading-normal cursor-pointer">Go to Checkout
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="24"
              viewBox="0 0 25 24"
              fill="none">
              <path d="M14.7959 4.4541L21.5459 11.2041C21.6508 11.3086 21.734 11.4328 21.7908 11.5696C21.8476 11.7063 21.8768 11.8529 21.8768 12.001C21.8768 12.149 21.8476 12.2957 21.7908 12.4324C21.734 12.5691 21.6508 12.6933 21.5459 12.7979L14.7959 19.5479C14.5846 19.7592 14.2979 19.8779 13.9991 19.8779C13.7002 19.8779 13.4135 19.7592 13.2022 19.5479C12.9908 19.3365 12.8721 19.0499 12.8721 18.751C12.8721 18.4521 12.9908 18.1654 13.2022 17.9541L18.0313 13.125L4.25 13.125C3.95163 13.125 3.66548 13.0065 3.4545 12.7955C3.24353 12.5846 3.125 12.2984 3.125 12C3.125 11.7017 3.24353 11.4155 3.45451 11.2045C3.66548 10.9936 3.95163 10.875 4.25 10.875L18.0313 10.875L13.2013 6.04598C12.9899 5.83463 12.8712 5.54799 12.8712 5.2491C12.8712 4.95022 12.9899 4.66357 13.2013 4.45223C13.4126 4.24088 13.6992 4.12215 13.9981 4.12215C14.297 4.12215 14.5837 4.24088 14.795 4.45223L14.7959 4.4541Z" fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>